body { 
  font-family: 'Red Hat Display', sans-serif;
  font-size: 100%;
  background-color: 'black';
}

slides > slide:not(.title-slide) {
   background-image: url("shift_purple_logo.png");
   background-size: 9%;
   background-repeat: no-repeat;
   background-position: 93% 2%;
 }

h2 {
    color: #4903E2 !important;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    font-size: 70px;
}

.title-slide hgroup h2 {
    font-size: 50px;
    color: darkgrey;
    font-weight: inherit;
}

h1,h3 {
  font-size: 140%;
  color: #003366;
  padding 10 0 20 0;
  font-family: 'Red Hat Display', sans-serif;
  line-height: 1.2em;
  font-weight: 200;
}

slides > slide {
  background: black;
  color: #797979;
}

slides > slide:not(.nobackground):before {
    background: url(shift_purple_logo.png);
    background-size: 0%;
}

aside.gdbar img {
    width: 402px;
    height: 125px;
    position: absolute;
    right: 0;
    margin: 12px 12px;
}

.gdbar {
  width: 550px !important;
  height: 150px !important;
  background-color: #797979 !important;
}

/*
.portion-mark-top {
  top: 1em;
  position: absolute;
  width:80%;
  text-align: center;
  font-size: 70%;
  color: #003366;
 font-family: 'Red Hat Display', sans-serif;
  line-height: 0.6em;
  text-shadow: 0 0 10px #666666;
}

.portion-mark-bottom {
  bottom: 1em;
  position: absolute;
  width:80%;
  text-align: center;
  font-size: 70%;
  color: #003366;
  font-family: 'Red Hat Display', sans-serif;
  line-height: 0.6em;
  text-shadow: 0 0 10px #666666;
}